.progressWrapper {
    width: 100%;
    height: 10px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.progressFill {
    height: 100%;
    background: #0070f3;
    transition: width 0.3s ease;
}

.progressWindow {}

.backButton {
    background-color: rgb(85, 79, 79);
    padding: 10px 20px;
    border-radius: 999px;
    font-size: large;

    &:hover {
        opacity: 0.8;
    }
}