.main {
    min-height: 100vh;
    width: 100vw;
    color: black;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

}




.stats {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    font-weight: bold;
}

.sessionBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sessionItem {
    display: flex;

    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background: #f9f9f9;
    text-decoration: none;
    justify-content: space-between;
    color: rgb(38, 37, 37);

    .sessionIconInfo {
        display: flex;
        flex-direction: row;
    }

    .sessionIcon {
        font-size: 2rem;
        text-decoration: none;
    }

    .sessionInfoBlock {
        justify-content: center;
        align-items: center;

        p {
            justify-content: center;
            align-items: center;
        }
    }

    .sessionDate {

        text-decoration: none;
    }
}

.sessionItemToday {
    background-color: orange;
}

.mainButton {
    align-self: center;
    padding: 0.75rem 2rem;
    background: #0070f3;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-weight: bold;
}

.day_block {
    width: 30px;
    height: 10px;
    background-color: grey;
    margin: 5px;

    padding: 2px;
    transition: height 0.3s ease;

    &:hover {
        height: 30px;
    }
}

.days_between {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    max-height: 27px; // cap height if needed
    overflow: hidden;
    font-size: 12px;

}