.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    background-color: #f7fbfd; // Assuming light background
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;

    // margin: 0;
    // padding: 0;
    // height: 100%;

    .section {
        scroll-snap-align: start;

    }

    .mainPage {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .halfRoundedButton {
        background-color: #f1f7fb;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 30%;
        border: none;
        cursor: pointer;
        width: 100vw;
        background-color: #2e3031;
        color: #dcd8d8;

        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        // transition: background 0.3s;

        &:hover {
            background-color: #464647;
        }
    }

    // buttons
    .controlPanelBtn {
        border-radius: 0 0 999px 999px; // Half-rounded: top only

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .sessionsBtn {
        border-radius: 999px 999px 0 0; // Half-rounded: top only



        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    }

    .addSessionBtn {
        justify-content: center;
        padding: 2rem;
        font-size: 2rem;

        .icon {
            font-size: 3rem;
        }

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    }


}

.returnToMainButton {

    padding: 20px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    background-color: rgb(106, 102, 102);
    opacity: 0.5;
    color: white;
    z-index: -1;
    border-radius: 50%;


    &:hover {
        opacity: 1;
    }
}

.showReturnbtn {
    z-index: 10;
}