.inventoryList {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;


    .header_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .filter {
            // make a pop up window for filter
        }
    }

    .inventoryIcon {
        width: 25px;
        height: 25px;
        margin: 10px;
    }

    .inventoryItem {
        border-bottom: 1px solid #eee;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;


        .itemButtons {
            display: flex;
            gap: 0.5rem;
        }
    }
}

.addItemForm {
    display: flex;
    flex-direction: column;
    padding: 20px;



}

.addItemBtn {
    width: 100%;
    background-color: rgb(3, 3, 252);
    border-radius: 999px;
    padding: 10px;
    justify-content: center;
    text-align: center;

    &:hover {
        opacity: 0.8;
    }
}

.form_btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;

    button {
        padding: 10px;
        border-radius: 999px;
        margin: 0 10px;
    }

    :nth-child(1) {
        background-color: green;
    }

    :nth-child(2) {
        background-color: red;
    }

}