// .main {
//     height: 100vh;
//     color: black;
// }

.panelWrapper {
    background: #f7f7f7;
    height: 100vh;
    width: 100vw;
    color: black;
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    margin: auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    h2 {
        margin-bottom: 1.5rem;
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 15px;

        width: 100%;
    }

    .card {
        width: 150px;
        height: 150px;
        background: #fff;
        padding: 2.5rem;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: transform 0.2s;
        text-decoration: none;
        color: black;

        &:hover {
            transform: translateY(-4px);
            background-color: rgba(128, 128, 128, 0.552);
        }
    }

    .icon {
        font-size: 2rem;
    }
}